@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.introduce {
  position: relative;
  text-align: center;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  .centerTilt {
    margin: 0 160px;
  }
  .about {
    display: inline-block;
    text-align: left;
    position: relative;
    transform-style: preserve-3d;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(113, 41, 237);
    color: #fff;
    max-width: 500px;
    height: 420px;
    border-radius: 20px;
    border: 5px solid rgb(113, 41, 237);
    padding: 20px;
    opacity: 0.8;
    box-sizing: border-box;
    .ho {
      display: inline-block;
      width: 140px;
      img {
        width: 30px;
        height: 30px;
        margin-top: 10px;
      }
      span {
        padding-top: 0px;
        margin-left: 10px;
      }
    }
    p {
      color: #fff;
    }
  }
  .about:hover {
    background-color: black;
  }
  .about::before {
    content: 'PHAM';
    position: absolute;
    opacity: 0;
    color: #fff;
    font-style: italic;
    top: 10px;
    transition: 0.5s;
  }
  .about::after {
    top: 10px;
    content: 'HOC';
    position: absolute;
    opacity: 0;
    color: #fff;
    font-style: italic;
    margin-left: 50px;
    transition: 0.5s;
  }
  .about:hover::before,
  .about:hover::after {
    opacity: 1;
  }

  // light
  .aboutLight {
    display: inline-block;
    text-align: left;
    position: relative;
    transform-style: preserve-3d;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(113, 41, 237);
    color: #000;
    max-width: 500px;
    height: 420px;
    border-radius: 20px;
    border: 5px solid rgb(113, 41, 237);
    padding: 20px;
    opacity: 0.8;
    box-sizing: border-box;
    .ho {
      display: inline-block;
      width: 140px;
      img {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        // margin-right: 40px;
      }
      span {
        padding-top: 0px;
        margin-left: 10px;
        // margin-right: 40px;
      }
    }
    p {
      color: #000;
    }
  }
  .aboutLight:hover {
    background-color: #fff;
  }
  .aboutLight::before {
    content: 'PHAM';
    position: absolute;
    opacity: 0;
    color: #000;
    font-style: italic;
    top: 10px;
    transition: 0.5s;
  }
  .aboutLight::after {
    top: 10px;
    content: 'HOC';
    position: absolute;
    opacity: 0;
    color: #000;
    font-style: italic;
    margin-left: 50px;
    transition: 0.5s;
  }
  .about:hover::before,
  .about:hover::after {
    opacity: 1;
  }
}
