@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.card-home {
  font-family: 'Jost', sans-serif;
  .img {
    width: 100%;
    height: 500px;
  }
  .card-buttons {
    display: flex;
    background-color: #fff;
    margin-top: -58px;
    button {
      background-color: black;
      flex: 1 1 auto;
      font-size: 13px;
      border: 0;
      padding: 15px 5px;
      cursor: pointer;
      color: #fff;
      transition: 0.3s;
      font-family: 'Jost', sans-serif;
      font-weight: 500;
      outline: 0;
      border-bottom: 3px solid transparent;
      z-index: 1;
      &.is-active {
        color: #fff;
        border-bottom: 3px solid red;
        background-color: black;
      }
      &:hover {
        color: #fff;
        border-bottom: 3px solid red;
        background: linear-gradient(
          to bottom,
          rgba(127, 199, 231, 0) 0%,
          rgba(207, 204, 255, 0.2) 44%,
          rgba(211, 226, 255, 0.4) 100%
        );
      }
    }
  }
}
.main {
  height: 100%;
  .name-project {
    font-family: 'Poppins', sans-serif;
    color: black;
    // font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 300px;
    position: relative;
    font-size: 4vw;
    -webkit-text-stroke: 0.1vw rgb(31, 6, 6);
    text-transform: uppercase;
  }
  .name-project::before {
    content: attr(data-text);
    position: absolute;
    text-align: center;
    top: 0;
    width: 0;
    height: 100%;
    color: red;
    -webkit-text-stroke: 0vw rgb(31, 6, 6);
    border-right: 2px solid red;
    overflow: hidden;
    animation: animates 6s linear infinite;
  }
  @keyframes animates {
    0%,
    10%,
    100% {
      width: 0;
    }
    70%,
    90% {
      width: 21.8%;
    }
  }
}
.project {
  width: 100%;
}
.navigations {
  position: fixed;

  bottom: -500px;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.2 !important;
}
.navigations:hover {
  opacity: 1 !important;
}
.footer {
  position: relative;
  z-index: 200 !important;
}
